/* Add your CSS here */
body {
  margin: 0;
  font-family: "Electrolize", sans-serif;
  background: linear-gradient(to right, rgb(42, 42, 42), rgb(145, 145, 150), rgb(229, 229, 229), gray, rgb(36, 36, 36), gray, rgb(229, 229, 229), rgb(145, 145, 150), rgb(42, 42, 42));
}

p {
  color: #dadada;
}

header {
  background-color: black;
  color: white;
  padding: 20px 50px 10px;
  border-bottom-style: solid;
  border-width: 30px;
  border-color: #00c7fd;
}

header img {
  width: 25%;
}

section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  padding: 50px;
  max-width: calc(5*200px + 4*10px + 10px);
  margin: 0 auto;
  
}

article {
  padding: 10px;
  max-width: 200px;
  width: 200px;
  height: auto;
  min-width: 200px;
  background: #dadada;
  color: white;
  overflow:hidden;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

article h2 {
  color: black;
}

article h3 {
  color: #3d4243;
}

article img {
  width: 100%;
  height: calc(200/500 * 200px);
}

article p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 12px;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: rgba(7, 26, 57, 0.7);
}

article:hover p, article:focus p {
  opacity: 1;
}

article:hover, article:focus {
  box-shadow: 0px 0px 10px 10px #00c7fd;
  transform: scale(1.05);
  background-color: rgba(7, 26, 57, 0.7);
}

#end_text {
  background:black;
  padding: 10px 50px;
  margin: 10px 0 0;
}

@media (max-width:600px) {
  section {
    flex-direction: column;
    justify-self: center;
  }

  body {
    font-size: 12px;
  }
  
}